<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div style="font-size:16px;color:#64a1d7;margin-top:10px;margin-bottom:10px;font-weight:blod">
        $!result.get("qym")
    </div>

    <div class="xian " style="width:1000px; margin-bottom:10px;border-top:1px solid #ddd"></div>

    <div>
        <div>
            该企业共有医疗器械注册号：
            <div style="font-size:16px;color:#64a1d7;margin-top:4px;margin-bottom:4px;font-weight:blod">
                $!{result.get("zchCnt")}个
            </div>
        </div>
        <div>
            拥有的产品数在所有$!{result.get("qyCnt")}家医疗器械企业中排名:
            <div style="font-size:16px;color:#64a1d7;margin-top:4px;margin-bottom:4px;font-weight:blod">
                第$!{result.get("rank")}位
            </div>
        </div>
    </div>

    <div class="xian " style="width:1000px;margin-top:10px; border-top:1px solid #ddd"></div>

<div>

    <div id="first" style="height:400px;margin-top:30px">
    </div>

    <div class="xian " style="width:1000px;margin-bottom:10px; border-top:1px solid #ddd"></div>

    <form role="form" method="post" action="/web/excel/qxQyDetail">
        <input type="hidden" id="cpmcHidden" name="qym" value="$!{result.get("qym")}"/>

        <div clas="form-group">
            <button type="submit" name="file" class="btn btn-sm btn-primary">导出</button>
            <div>
    </form>


    <div class="table-responsive">
        #set ($cnt=1)
        <table class="table table-hover">
            <thead>
            <tr style="font-size: 14px;font-weight:blod;color:blue">
                <th>产品名称</th>
                <th>同类产品注册号数量</th>
                <th>进口/国产</th>
                <th>批准日期</th>
                <th>到期日期</th>
            </tr>
            </thead>
            <tbody>
                #foreach($param in $result.get("qxDOs"))
                <tr style="font-size: 10px">
                    <td>$!{param.product_name}</td>
                    <td>$!{param.cnt}</td>
                    <td>$!{param.gj}</td>
                    <td>$dateTool.format("MEDIUM", $param.approval_date)</td>
                    <td>$dateTool.format("MEDIUM", $param.validity_period)</td>
                </tr>
                    #set ($cnt=$cnt+1)
                #end
            </tbody>
        </table>
    </div>

</div>

</div>

<script type="text/javascript">
    // 路径配置
    require.config({
        paths: {
            echarts: '/web/js/dist/'
        }
    });

    // 使用
    require([
                'echarts',
                'echarts/theme/macarons',
                'echarts/chart/bar'
            ],

            function (ec) {

                var first = ec.init(document.getElementById('first'), 'macarons');

                var lineOption = {
                    title : {
                        show : true,
                        text : "企业产品数量",
                        x : '40',
                        textStyle : {
                            fontSize: 18,
                            fontWeight: 'bolder',
                            color: '#333'
                        }
                    },
                    tooltip: {
                        show: true
                    },
                    legend: {
                        x : '840',
                        y : 'top',
                        data: ['企业产品数量']
                    },

                    grid : {
                        borderWidth : 0
                    },
                    xAxis: [
                        {
                            type: 'category',
                            axisLine : {
                                show : false
                            },
                            axisTick : {
                                show : false
                            },
                            splitLine : {
                                show : false
                            },

                            data: ["第一", "第二", "第三", "第四", "第五", "第六", "第七", "第八", "第九", "第十", "十一", "十二"]
                        }
                    ],
                    yAxis: [
                        {
                            axisLine : {
                                show : false,
                                width : 0
                            },
                            type: 'value'
                        }
                    ],
                    series: [
                        {
                            "name": "企业产品数量",
                            "type": "bar",
                            "data":  [270, 700, 500, 400, 680, 770, 600, 520, 550, 280, 760, 700]
                        }
                    ]
                };

                function initLineData(data, option) {
                    if(data && option) {
                        if(data.xAxis && data.xAxis.data && data.xAxis.data.length > 0) {
                            option.xAxis[0].data = data.xAxis.data;
                        }
                        if(data.series.data && data.series.data.length > 0) {
                            option.series = [];
                            for(var i = 0; i < data.series.data.length; i++) {
                                var oneData = data.series.data[i];
                                var oneSeries = {};
                                oneSeries.type = 'bar';
                                oneSeries.data = oneData.data;
                                oneSeries.name = oneData.name;

                                try {
                                    if(data.dataTip && data.dataTip.data.length > 0) {
                                        var dataTipValues = data.dataTip.data;

                                        var itemStyle = {
                                            normal: {
                                                color: function(params) {
                                                    if(params.dataIndex == dataTipValues[0]) {
                                                        return '#C1232B';
                                                    }
                                                    return '#B5C334'; // 指定分类 或者 系列颜色
                                                }
                                            }
                                        };

                                        oneSeries.itemStyle = itemStyle;
                                    }
                                } catch (e) {

                                }

                                option.series.push(oneSeries);
                            }
                        }
                    }
                }


                var qxQy_rank = $!{result.get("qxQy_rank")};
                initTitleLegend(qxQy_rank, lineOption);
                initLineData(qxQy_rank, lineOption);
                first.setOption(lineOption);

                function initTitleLegend(data, option) {
                    if (data) {
                        if (data.title) {
                            option.title.text = data.title.text;
                        }
                        if (data.legend) {
                            var legenddata = data.legend.data;
                            if (legenddata && legenddata.length > 0) {
                                option.legend.data = [];
                                option.legend.data = legenddata;
                            }
                        }
                    }
                }

            }
    );


</script>

