<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <bean id="propertyConfig"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:sql/sqlMap.properties"/>
    </bean>

    <bean id="springCxtHolder" class="com.hj.biz.util.RootSpringApplicationContextHolder"
          lazy-init="false"/>


    <bean id="datasource1"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${db.driver}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
    </bean>

    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation" value="classpath:sql/sqlMapConfig.xml"/>
        <property name="dataSource" ref="datasource1"/>
    </bean>




    <bean id="ypDAO" class="com.hj.dal.dao.YPDAOImpl">
        <property name="sqlMapClient"  ref="sqlMapClient"/>
    </bean>

    <bean id="qxDAO" class="com.hj.dal.dao.QXDAOImpl">
        <property name="sqlMapClient"  ref="sqlMapClient"/>
    </bean>

    <bean id="ypService" class="com.hj.biz.service.impl.YiyaoServiceImpl"/>

    <bean class="com.hj.biz.util.BeanInitCostTimeBeanPostProcessor"/>






</beans>